*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #0f172a;
    color: white;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #111827;
    position: sticky;
    top: 0;
}

.logo{
    color: #38bdf8;
}

.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #38bdf8;
}

/* Home */
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.home-content{
    max-width: 500px;
}

.home-content h1{
    font-size: 50px;
}

.home-content h3{
    color: #38bdf8;
    margin: 10px 0;
}

.home-content p{
    margin: 20px 0;
    line-height: 1.6;
}

.btn{
    display: inline-block;
    padding: 12px 25px;
    background: #38bdf8;
    color: black;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.home-img img{
    width: 300px;
    /* height: 130px; */
    border-radius: 50%;
    border: 5px solid #38bdf8;
}

/* Sections */
section{
    padding: 70px 10%;
}

.heading{
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
    color: #38bdf8;
}

/* About */
.about-container{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.about-img img{
    width: 250px;
    border-radius: 15px;
}

.about-content{
    flex: 1;
    line-height: 1.8;
}

/* Skills */
.skills-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-box{
    background: #1e293b;
    padding: 20px 40px;
    border-radius: 10px;
    transition: 0.3s;
}

.skill-box:hover{
    background: #38bdf8;
    color: black;
}

/* Projects */
.project-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card{
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    transition: 0.3s;
}

.project-card:hover{
    transform: translateY(-5px);
}

/* Contact */
.contact-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: auto;
}

.contact-container input,
.contact-container textarea{
    padding: 12px;
    border: none;
    border-radius: 8px;
}

.contact-container button{
    padding: 12px;
    border: none;
    background: #38bdf8;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

/* Footer */
footer{
    text-align: center;
    padding: 20px;
    background: #111827;
    margin-top: 30px;
}

/* Responsive */
@media(max-width: 768px){

    .home{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }

    .navbar{
        flex-direction: column;
        gap: 15px;
    }

    .about-container{
        flex-direction: column;
        text-align: center;
    }
}